extends layout
block authenticationStyle
block errorStyle
block content
block cPanel
  .container
    .row
      .col-md-10
        .btn-group.btn-breadcrumb
          a.btn.btn-default(href="/cPanel")
            i.glyphicon.glyphicon-home
          .btn.btn-default اﻷقسام والشعب
          .btn.btn-default.active عرض الشعب
        br
        br
        .panel.panel-default
          .panel-heading
            .row
              .pull-right(style="margin-right: 10px;")
                h3#h3.panel-title عرض الشعب
              .col-xs-6.col-md-6
                .input-group
                  input.form-control(type='text', placeholder='بحث...')
                  .input-group-btn
                    button.btn.btn-default
                      i.glyphicon.glyphicon-search
              .pull-left(style="margin-left: 10px;")
                a.btn.btn-success(href='/newDivision', role='button',data-toggle='modal')
                  span.glyphicon.glyphicon-plus
                  span.text-none  إضافة شعبه جديدة
              .pull-left(style="margin-left: 10px;")
                a.btn.btn-primary(href='#', role='button',data-toggle='modal')
                  span.glyphicon.glyphicon-print
                  span.text-none  طباعة
          .table-responsive
            table#mytable.table.table-bordred.table-striped(border="0")
              thead
                th
                  input#checkall(type="checkbox")
                th اسم الشعبة
                th تندرج تحت قسم
                th.text-left Fall under department
                th.text-left Division name
                th(style="width:15%;")
                th.text-center تنسيب
                th.text-center تعديل
                th.text-center الغاء
              tbody#tbody
                for Division in divisions
                  tr(data-id = '#{Division.id}',data-name = '#{Division.name}',data-name_en = '#{Division.name_en}',data-departmentid='#{Division.DepartmentId}')
                    td
                      input.checkthis(type="checkbox")
                    td#alaa #{Division.name}
                    td #{Division.Department.name}
                    td.text-left #{Division.Department.name_en}
                    td.text-left #{Division.name_en}
                    td
                    td.text-center
                      p(data-placement="top", data-toggle="tooltip", title="تخصيص")
                        a.btn.btn-primary.btn-xs(href='/division/#{Division.id}', role='button' , value="")
                          span.glyphicon.glyphicon-screenshot
                    td.text-center
                      p(data-placement="top", data-toggle="tooltip", title="تعديل")
                        button#Edit.btn.btn-primary.btn-xs.editDivision(value='#{Division.id}',data-nn="#{Division.id}",data-title="Edit", data-toggle="modal", data-target="#edit")
                          span.glyphicon.glyphicon-pencil
                    td.text-center
                      p(data-placement="top", data-toggle="tooltip", title="إلغاء")
                        button#Delete.btn.btn-danger.btn-xs(value='#{Division.id}',data-title="Delete", data-toggle="modal", data-target="#delete")
                          span.glyphicon.glyphicon-trash
          .clearfix
          ul.pagination.pull-right
            li.disabled
              a(href="#")
                span.glyphicon.glyphicon-chevron-right
            li.active
              a(href="#") 1
            li
              a(href="#") 2
            li
              a(href="#") 3
            li
              a(href="#") 4
            li
              a(href="#") 5
            li
              a(href="#")
                span.glyphicon.glyphicon-chevron-left
  #edit.modal.fade.font(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true")
            span.glyphicon.glyphicon-remove(aria-hidden="true")
          h4#Heading.modal-title.custom_align تعديل شعبة
        .modal-body
          form#formDivision.form-signin(role="form",name='formDivision')
            .form-group
              .row
                .col-xs-6.col-md-6
                  label.h4 اسم الشعبة
                  input.form-control#name(type="text", name="name", placeholder="اسم القسم")
                .col-xs-6.col-md-6
                  label.h4.pull-left Division name
                  input.form-control#name_en(type="text", name="name_en", placeholder="Division name", dir='ltr')
            .form-group
              .row
                .col-xs-6.col-md-6.col-md-offset-3 
                  label.h4 تندرج تحت قسم
                  select#DepartmentId.form-control(name="DepartmentId", data-live-search="true", data-size=5)
                    for department in departments
                      option(value="#{department.id}",data-name="#{department.name}")|#{department.name}
                  input#id(name="id",type="hidden")    
  
        .modal-footer
          button#save.btn.btn-warning.btn-lg(type="button", style="width: 100%;")
            span.glyphicon.glyphicon-ok-sign
            |  تعديل
      // /.modal-content
    // /.modal-dialog
  #delete.modal.fade.font(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true")
            span.glyphicon.glyphicon-remove(aria-hidden="true")
          h4#Heading.modal-title.custom_align إلغء شعبة
        .modal-body
          .alert.alert-danger
            span.glyphicon.glyphicon-warning-sign
            |  هل انت متأكد من إلغاء هذه الشعبة؟
        .modal-footer
          button#ok.btn.btn-success(type="button", data-dismiss="modal")
            span.glyphicon.glyphicon-ok-sign
            |  نعم
          button.btn.btn-default(type="button", data-dismiss="modal")
            span.glyphicon.glyphicon-remove
            |  لا
      // /.modal-content
    // /.modal-dialog
  script(src='/js/jquery-2.1.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/backToTop.js')
  script(src='/js/bootstrap-select.min.js')  
  script(src='/js/jquery.validate.min.js')  
  script(src='/js/bootstrap-notify.min.js')
  script(src='/js/divisions.js')
  script(src='/js/helpers.js')  
  script.
    $(document).ready(function(){
      $("#mytable #checkall").click(function () {
        if ($("#mytable #checkall").is(':checked')) {
            $("#mytable input[type=checkbox]").each(function () {
              $(this).prop("checked", true);
            });
        } else {
            $("#mytable input[type=checkbox]").each(function () {
                $(this).prop("checked", false);
            });
          }
      });
      $("[data-toggle=tooltip]").tooltip();
    });