extends layout
block authenticationStyle
block errorStyle
block content
block cPanel
  .container
    .row
      .col-md-10
        .btn-group.btn-breadcrumb
          a.btn.btn-default(href="/cPanel")
            i.glyphicon.glyphicon-home
          .btn.btn-default المحاضرين
          .btn.btn-default.active عرض المحاضرين
        br
        br
        .panel.panel-default
          .panel-heading
            .row
              .pull-right(style="margin-right: 10px;")
                h3#h3.panel-title عرض المحاضرين
              .col-xs-6.col-md-7
                .input-group
                  input.form-control(type='text', placeholder='بحث...')
                  .input-group-btn
                    button.btn.btn-default
                      i.glyphicon.glyphicon-search
              .pull-left(style="margin-left: 10px;")
                a.btn.btn-success(href='/newFacultyMember', role='button',data-toggle='modal')
                  span.glyphicon.glyphicon-plus
                  span.text-none  إضافة محاضر/ة
              .pull-left(style="margin-left: 10px;")
                a.btn.btn-primary(href='#', role='button',data-toggle='modal')
                  span.glyphicon.glyphicon-print
                  span.text-none  طباعة
          .table-responsive
            table#mytable.table.table-bordred.table-striped.text-right
              thead
                th
                  input#checkall(type="checkbox")
                th اسم المحاضر/ة
                th المؤهل العلمي
                th التخصص
                th الجنس
                th القسم
                th الجنسية
                th.text-center تعديل
                th.text-center إلغاء
              tbody
                for faculty_Member in faculty_Members
                  tr(data-id = '#{faculty_Member.id}')
                    td #{faculty_Member.name}
                    td #{faculty_Member.qualification}
                    td #{faculty_Member.specialization}
                    td #{faculty_Member.gender}
                    td #{faculty_Member.DepartmentId}
                    td #{faculty_Member.nationality}
                    td.text-center
                      p(data-placement="top", data-toggle="tooltip", title="تعديل")
                        button.btn.btn-primary.btn-xs(value='#{faculty_Member.id}',data-title="Edit", data-toggle="modal", data-target="#edit")
                          span.glyphicon.glyphicon-pencil
                    td.text-center
                      p(data-placement="top", data-toggle="tooltip", title="إلغاء")
                        button.btn.btn-danger.btn-xs(value='#{faculty_Member.id}',data-title="Delete", data-toggle="modal", data-target="#delete")
                          span.glyphicon.glyphicon-trash
        nav
          ul.pagination
            li.disabled
              a(href="#", aria-label="Previous")
                span(aria-hidden="true") &#171;
            li
              a(href="#") 1
            li
              a(href="#") 2
            li
              a(href="#") 3
            li
              a(href="#") 4
            li
              a(href="#") 5
            li
              a(href="#", aria-label="Next")
                span(aria-hidden="true") &#187;
          //- ul.pagination.pull-right
          //-   li.disabled
          //-     a(href="#")
          //-       span.glyphicon.glyphicon-chevron-right
          //-   li.active
          //-     a(href="#") 1
          //-   li
          //-     a.disabled(href="#") 2
          //-   li
          //-     a(href="#") 3
          //-   li
          //-     a(href="#") 4
          //-   li
          //-     a(href="#") 5
          //-   li
          //-     a(href="#")
          //-       span.glyphicon.glyphicon-chevron-left
  #edit.modal.fade.font(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true")
            span.glyphicon.glyphicon-remove(aria-hidden="true")
          h4#Heading.modal-title.custom_align تعديل محاضر/ة
        .modal-body
          .col-md-6.col-md-offset-2
          form.form#editFaculity(role="form")
            .form-group
              .row
                .col-xs-6.col-md-6
                  label اسم المحاضر/ة
                  input#name.form-control(type="text", name="name", placeholder="اسم المحاضر/ة")
                .col-xs-6.col-md-6
                  label المؤهل العلمي
                  input#qualification.form-control(type="text", name="qualification", placeholder="المؤهل العلمي")
            .form-group
              .row
                .col-xs-6.col-md-6
                  label القسم
                  select.form-control.selectpicker#DepartmentId(name="DepartmentId", data-live-search="true", data-size=5)
                    option(value="", style='color:grey; display:none;') الرجاء اختيار القسم...
                    option(value="0") قسم1
                    option(value="1") قسم2
                .col-xs-6.col-md-6
                  label التخصص
                  input#specialization.form-control(type="text", name="specialization", placeholder="التخصص")
            .form-group
              .row
                .col-xs-6.col-md-6
                  label الجنس
                  select.form-control.selectpicker#gender(name="gender")
                    option(value="", style='color:grey; display:none;') الرجاء اختيار الجنس...
                    option(value="0") ذكر
                    option(value="1") انثي
                .col-xs-6.col-md-6
                  label الجنسية
                  select.form-control.selectpicker#nationality(name="nationality", data-live-search="true", data-size=5)
                    option(value="", style='color:grey; display:none;') الرجاء اختيار الجنسية...
                    option(value="0") جنسية1
                    option(value="1") جنسية2
            .form-group
              .row
                .col-xs-6.col-md-6
                  label تاريخ الميلاد
                  input#birth_date.form-control(type="text", name="birth_date", placeholder="تاريخ الميلاد")
                .col-xs-6.col-md-6
                  label مكان الميلاد
                  input.form-control#place_birth(name="place_birth", type="text", placeholder="مكان الميلاد")
            .form-group
              .row
                .col-xs-6.col-md-6
                  label عنوان اﻹقامة
                  input#physical_address.form-control(type="text", name="physical_address", placeholder="عنوان اﻹقامة")
                .col-xs-6.col-md-6
                  label رقم الهاتف
                  input.form-control#phone(name="phone", type="text", placeholder="رقم الهاتف")
        .modal-footer
          button.btn.btn-warning.btn-lg(type="button", style="width: 100%;")
            span.glyphicon.glyphicon-ok-sign
            |  تعديل
      // /.modal-content
    // /.modal-dialog
  #delete.modal.fade.font(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true")
            span.glyphicon.glyphicon-remove(aria-hidden="true")
          h4#Heading.modal-title.custom_align إلغء شعبة
        .modal-body
          .alert.alert-danger
            span.glyphicon.glyphicon-warning-sign
            |  هل انت متأكد من إلغاء هذه الشعبة؟
        .modal-footer
          button.btn.btn-success(type="button")
            span.glyphicon.glyphicon-ok-sign
            |  نعم
          button.btn.btn-default(type="button", data-dismiss="modal")
            span.glyphicon.glyphicon-remove
            |  لا
      // /.modal-content
    // /.modal-dialog
  script(src='/js/jquery-2.1.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/backToTop.js')
  script(src='/js/bootstrap-select.min.js')
  script.
    $(document).ready(function(){
      $("#mytable #checkall").click(function () {
        if ($("#mytable #checkall").is(':checked')) {
            $("#mytable input[type=checkbox]").each(function () {
              $(this).prop("checked", true);
            });
        } else {
            $("#mytable input[type=checkbox]").each(function () {
                $(this).prop("checked", false);
            });
          }
      });
        $("[data-toggle=tooltip]").tooltip();
    });