doctype html
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, user-scalable=no")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/animate.min.css')
    link(rel='stylesheet', href='/css/bootstrap-rtl.min.css')
    link(rel='stylesheet', href="/css/bootstrap-toggle.min.css")
    block contentStyle
      link(rel='stylesheet', href='/css/navbarStyle.css')
      link(rel='stylesheet', href='/css/cPanelStyle.css')
    block authenticationStyle
      link(rel='stylesheet', href='/css/authenticationStyle.css')
    block errorStyle
      link(rel='stylesheet', href='/css/errorStyle.css')
    link(rel='stylesheet', href='/css/bootstrap-select.min.css')
    link(rel='stylesheet', href='/css/bootstrap-datetimepicker.min.css')
    link(rel='stylesheet', href='/css/jquery-ui.min.css')
    link(rel='stylesheet', href='/css/fullcalendar.min.css')
    link(rel='stylesheet', href='/css/fullcalendar.print.css', media='print')
    link(rel='stylesheet', href='/css/customStyle.css')
  body.animated.fadeIn
    block navBar
      .container-fulid.font
        nav.navbar.navbar-default(role="navigation")
          // Brand and toggle get grouped for better mobile display
          .navbar-header
            button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href="#") 
              span.text-muted الدراسة والامتحانات
          // Collect the nav links, forms, and other content for toggling
          .collapse.navbar-collapse
            ul.nav.navbar-nav
              li(class=active)
                a(href="/cPanel")
                  span.glyphicon.glyphicon-home.text-primary
                  span.text-primary  لوحة التحكم
              li
                a(href="#")
                  span.glyphicon.glyphicon-calendar.text-success
                  span.text-success  التقويم
              li.dropdown
                a.dropdown-toggle(href="#", data-toggle="dropdown")
                  span.glyphicon.glyphicon-list-alt.text-info
                  span.text-info  أدوات
                  b.caret
                ul.dropdown-menu
                  li
                    a(href="http://www.jquery2dotnet.com") Action
                  li
                    a(href="http://www.jquery2dotnet.com") Another action
                  li
                    a(href="#") Something else here
                  li.divider
                  li
                    a(href="#") Separated link
                  li.divider
                  li
                    a(href="#") One more separated link
              li.dropdown
                a.dropdown-toggle(href="#", data-toggle="dropdown")
                  span.glyphicon.glyphicon-search.text-primary
                  span.text-primary  بحث
                  b.caret
                ul.dropdown-menu(style="min-width: 275px;")
                  li
                    .row
                      .col-md-12
                        form.navbar-form.navbar-left(role="search")
                          .input-group
                            input.form-control(type="text", placeholder="بحث")
                            span.input-group-btn
                              button.btn.btn-primary(type="button")
                                | بحث!
            ul.nav.navbar-nav.navbar-right
              li.dropdown
                a.dropdown-toggle(href="#", data-toggle="dropdown")
                  span.glyphicon.glyphicon-user.text-info
                  span.text-info  اسم المستخدم
                  b.caret
                ul.dropdown-menu
                  li
                    a(href="#")
                      span.glyphicon.glyphicon-user.text-primary
                      span.text-info  الملف الشخصي
                  li
                    a(href="#")
                      span.glyphicon.glyphicon-cog.text-primary
                      span.text-info  الاعدادات
                  li.divider
                  li
                    a(href="#")
                      span.glyphicon.glyphicon-off.text-primary
                      span.text-info  خروج
          // /.navbar-collapse
    block navcPanel
      .container.font
        .row
          .col-xs-12.col-md-2
            #accordion.panel-group
              .panel.panel-default
                .panel-heading.font
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseOne")
                      span.glyphicon.glyphicon-tasks
                      span(style="font-size:15px;")  الفصول الدراسية
                #collapseOne.panel-collapse.collapse(class=collapseOne)
                  .panel-body#panel-body
                    table.table
                      tr
                        td(class=activeOneOne)
                          a(href="/semesters", style="font-size:12px;").font  عرض الفصول الدراسية
                          span.label.label-info(style="padding: 0px 8px 0px 8px;") 5
                      tr
                        td(class=activeOneTwo)
                          a(href="/newSemester").font  إضافة فصل دراسي
              .panel.panel-default
                .panel-heading.font
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseTwo")
                      span.glyphicon.glyphicon-tasks
                      span(style="font-size:15px;")  القاعات الدراسية
                #collapseTwo.panel-collapse.collapse(class=collapseTwo)
                  .panel-body#panel-body
                    table.table
                      tr
                        td(class=activeTwoOne)
                          a(href="/locations", style="font-size:12px;").font  عرض القاعات الدراسية
                          span.label.label-info(style="padding: 0px 8px 0px 8px;") 5
                      tr
                        td(class=activeTwoTwo)
                          a(href="/newLocation").font  إضافة قاعة دراسية
              .panel.panel-default
                .panel-heading.font
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseThree")
                      span.glyphicon.glyphicon-tasks
                      span  المواد الدراسية
                #collapseThree.panel-collapse.collapse(class=collapseThree)
                  .panel-body#panel-body
                    table.table
                      tr
                        td(class=activeThreeOne)
                          a(href="#", style="font-size:13.5px;").font  عرض المواد الدراسية
                          span.label.label-info(style="padding: 0px 8px 0px 8px;") 5
                      tr
                        td(class=activeThreeTwo)
                          a(href="#").font  إضافة مادة دراسية
              .panel.panel-default
                .panel-heading.font
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseFour")
                      span.glyphicon.glyphicon-tasks
                      span(style="font-size:15px;")  اﻷقسام والشعب
                #collapseFour.panel-collapse.collapse(class=collapseFour)
                  .panel-body#panel-body
                    table.table
                      tr
                        td(class=activeFourOne)
                          a(href="/departments")  عرض اﻷقسام
                          span.label.label-info(style="padding: 0px 8px 0px 8px;") 5
                      tr
                        td(class=activeFourTwo)
                          a(href="/newDepartment")  إضافة قسم جديد
                      tr
                        td(class=activeFourThree)
                          a(href="/divisions")  عرض الشعب
                          span.label.label-info(style="padding: 0px 8px 0px 8px;") 5
                      tr
                        td(class=activeFourFour)
                          a(href="/newDivision")  إضافة شعبه جديدة
              .panel.panel-default.font
                .panel-heading
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseFive")
                      span.glyphicon.glyphicon-user
                      span(style="font-size:15px;")  الطلبة المسجلين
                #collapseFive.panel-collapse.collapse(class=collapseFive)
                  .panel-body#panel-body
                    table.table
                      tr
                        td(class=activeFiveOne)
                          a(href="/students", style="font-size:12.6px;")  عرض الطلبة المسجلين
                          span.label.label-info(style="padding: 0px 8px 0px 8px;") 5
                      tr
                        td(class=activeFiveTwo)
                          a(href="/newStudent")  تسجيل طالب/ة
              .panel.panel-default.font
                .panel-heading
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseSix")
                      span.glyphicon.glyphicon-user
                      span  المحاضرين
                #collapseSix.panel-collapse.collapse(class=collapseSix)
                  .panel-body#panel-body
                    table.table
                      tr
                        td(class=activeSixOne)
                          a(href="/facultyMembers")  عرض المحاضرين
                          span.label.label-info(style="padding: 0px 8px 0px 8px;") 5
                      tr
                        td(class=activeSixTwo)
                          a(href="/newFacultyMember")  إضافة محاضر/ة
              .panel.panel-default.font
                .panel-heading
                  h4.panel-title
                    a(data-toggle="collapse", data-parent="#accordion", href="#collapseSeven")
                      span.glyphicon.glyphicon-file
                      |  التقارير
                #collapseSeven.panel-collapse.collapse(class=collapseSeven)
                  .panel-body#panel-body
                    table.table
                      tr
                        td
                          span.glyphicon.glyphicon-usd
                          a(href="#")  مبيعات
                      tr
                        td
                          span.glyphicon.glyphicon-user
                          a(href="#")  زبائن
                      tr
                        td
                          span.glyphicon.glyphicon-tasks
                          a(href="#")  منتجات
                      tr
                        td
                          span.glyphicon.glyphicon-shopping-cart
                          a(href="#")  سلة الشراء
          block cPanel  
            .col-xs-12.col-md-8.col-md-offset-1
              .panel.panel-primary.font
                .panel-heading
                  h3.panel-title#panel-title
                    span.glyphicon.glyphicon-bookmark
                    | 
                    | لوحة التحكم
                .panel-body
                  .row
                    .col-xs-6.col-md-6
                      a.btn.btn-danger.btn-lg(href="#", role="button")
                        span.glyphicon.glyphicon-list-alt
                        br
                        | تطبيقات
                      | 
                      a.btn.btn-warning.btn-lg(href="#", role="button")
                        span.glyphicon.glyphicon-bookmark
                        br
                        | الإشارات
                      | 
                      a.btn.btn-primary.btn-lg(href="#", role="button")
                        span.glyphicon.glyphicon-signal
                        br
                        | تقارير
                      | 
                      a.btn.btn-warning.btn-lg(href="#", role="button")
                        span.glyphicon.glyphicon-comment
                        br
                        | تعليقات
                      | 
                      a.btn.btn-primary.btn-lg(href="#", role="button")
                        span.glyphicon.glyphicon-comment
                        br
                        | تعليقات
                      | 
                      a.btn.btn-info.btn-lg(href="#", role="button")
                        span.glyphicon.glyphicon-comment
                        br
                        | تعليقات
                      | 
                      a.btn.btn-danger.btn-lg(href="#", role="button")
                        span.glyphicon.glyphicon-list-alt
                        br
                        | تطبيقات
                      | 
                      a.btn.btn-warning.btn-lg(href="#", role="button")
                        span.glyphicon.glyphicon-bookmark
                        br
                        | الإشارات
                      | 
                      a.btn.btn-primary.btn-lg(href="#", role="button")
                        span.glyphicon.glyphicon-signal
                        br
                        | تقارير
                    .col-xs-6.col-md-6
                      a.btn.btn-success.btn-lg(href="#", role="button")
                        span.glyphicon.glyphicon-user
                        br
                        | مستخدمين
                      | 
                      a.btn.btn-warning.btn-lg(href="#", role="button")
                        span.glyphicon.glyphicon-file
                        br
                        | ملاحظات
                      | 
                      a.btn.btn-danger.btn-lg(href="#", role="button")
                        span.glyphicon.glyphicon-picture
                        br
                        | صور
                      | 
                      a.btn.btn-success.btn-lg(href="#", role="button")
                        span.glyphicon.glyphicon-tag
                        br
                        | العلامات
                      | 
                      a.btn.btn-danger.btn-lg(href="#", role="button")
                        span.glyphicon.glyphicon-tag
                        br
                        | العلامات
                      | 
                      a.btn.btn-warning.btn-lg(href="#", role="button")
                        span.glyphicon.glyphicon-tag
                        br
                        | العلامات
                      | 
                      a.btn.btn-info.btn-lg(href="#", role="button")
                        span.glyphicon.glyphicon-tag
                        br
                        | العلامات
                      | 
                      a.btn.btn-primary.btn-lg(href="#", role="button")
                        span.glyphicon.glyphicon-tag
                        br
                        | العلامات
                      | 
                      a.btn.btn-danger.btn-lg(href="#", role="button")
                        span.glyphicon.glyphicon-tag
                        br
                        | العلامات
                  a.btn.btn-success.btn-lg.btn-block(href="http://www.jquery2dotnet.com/", role="button")
                    span.glyphicon.glyphicon-globe
                    | موقع
    block content
    block footer
      footer.footer.font
        .container
          p.text-muted جميع الحقوق محفوظة لشركة ناقه للحلول الثقنية 2015 © 
             
    