extends layout
block authenticationStyle
block errorStyle  
block content
block cPanel
  .container
    .row
      .col-md-10
        .btn-group.btn-breadcrumb
          a.btn.btn-default(href="/cPanel")
            i.glyphicon.glyphicon-home
          .btn.btn-default المواد الدراسية
          .btn.btn-default.active إضافة مادة دراسية جديدة
        br
        br
        legend  إضافة مادة دراسية لنظام محدد
          .pull-left
            a.btn.btn-primary(href='/subjects', role='button')
              span.glyphicon.glyphicon-th-list
              span  عرض المواد الدراسية
      .col-md-10
        | الرجاء اختيار نظام المادة ؟     
        input#toggle-subject(type='checkbox',data-on="سنة",data-off="فصل", data-toggle='toggle')
        #console-event
        form.form#newSubject(action="", method="post", accept-charset="utf-8", role="form")
          h4.text-center بيانات المادة 
          hr
          .form-group
            .row
              .col-xs-4.col-md-4
                label اسم المادة
                input#name.form-control(type="text", name="name", placeholder="اسم المادة")
              .col-xs-4.col-md-4
                label.pull-left Subject name
                input#name_en.form-control(type="text", name="name_en", placeholder="Subject name", dir="ltr")
              .col-xs-4.col-md-4
                label رمز المادة
                input#code.form-control(type="text", name="code", placeholder="رمز المادة")           
          .form-group
            .row         
              .col-xs-3.col-md-3
                label عدد وحدات النظري
                input#no_th_unit.form-control(type="text", name="no_th_unit", placeholder="عدد وحدات النظري")
              .col-xs-3.col-md-3
                label عدد ساعات النظري
                input#no_th_hour.form-control(type="text", name="no_th_hour", placeholder="عدد ساعات النظري")
              .col-xs-3.col-md-3
                label عدد وحدات العملي
                input#no_pr_unit.form-control(type="text", name="no_pr_unit", placeholder="عدد وحات العملي")
              .col-xs-3.col-md-3
                label عدد ساعات العملي
                input#no_pr_hour.form-control(type="text", name="no_pr_hour", placeholder="عدد ساعات العملي")           
          .form-group
            .row
              .col-xs-3.col-md-3
                label أعمال السنة
                input#chapter_degree.form-control(type="text", name="chapter_degree", placeholder="أعال السنة")
              .col-xs-3.col-md-3
                label درجة نهائي النظري
                input#final_theor.form-control(type="text", name="final_theor", placeholder="نهائي النظري")
              .col-xs-3.col-md-3
                label درجة نهائي العملي
                input#final_practical.form-control(type="text", name="final_practical", placeholder="نهائي العملي")
              .col-xs-3.col-md-3
                #department_radio 
                  label تندرج تحت قسم
                  br
                  label.radio-inline
                    input#js_radio(type='radio', name='department',value="1")
                    | عامة
                  label.radio-inline
                    input#radio(type='radio', name='department',value="2")
                    | خاصة
                  label.radio-inline
                    input#radio(type='radio', name='department',value="3")
                    | كلاهما
                #department_select
                  label تندرج تحت قسم
                  select.form-control.selectpicker#department_iddepartment(name="DepartmentId", data-live-search="true", data-size=5)
                    option(value="", style='color:grey; display:none;') اختر اسم القسم...
                    for i in dept
                      option(value="#{i.id}") #{i.name}
          .form-group 
            .row
              .col-xs-3.col-md-3
                label
                  span  المواد التمهيدية
                select#subjectId.form-control.selectpicker(name="subjectId", data-live-search="true", data-size=5)
                  option(value="", style='color:grey; display:none;') اختر اسم المواد...
                  for u in sub
                    option(value="#{u.id}", style='color:grey; ') #{u.name}

              .col-xs-5.col-md-5
                table#my.table.table-bordered
                  tbody
                  //- for u in sub
                  //-   tr
                  //-     td.text-center #{u.name} 
          hr
          .col-xs-2.col-xs-offset-4.col-md-2.col-md-offset-5
            button#save.btn.btn-primary(type="button")
              | إضافة
    br
    br
  script(src='/js/jquery-2.1.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/jquery.validate.min.js')
  script(src='/js/bootstrap-notify.min.js')
  script(src='/js/bootstrap-toggle.min.js') 
  script(src='/js/backToTop.js')
  script(src='/js/bootstrap-select.min.js')
  script(src='/js/moment-with-locales.min.js')
  script(src='/js/bootstrap-datetimepicker.min.js')
  script(src='/js/newSubject.js')

   