extends layout
block authenticationStyle
block errorStyle
block content
block cPanel
  .container
    .row
      .col-md-10
        .btn-group.btn-breadcrumb
          a.btn.btn-default(href="/cPanel")
            i.glyphicon.glyphicon-home
          .btn.btn-default الفصول الدراسية
          .btn.btn-default.active عرض الفصول الدراسية
        br
        br
        .panel.panel-default
          .panel-heading
            .row
              .pull-right(style="margin-right: 10px;")
                h3#h3.panel-title عرض الفصول الدراسية
              .col-xs-5.col-md-6
                .input-group
                  input.form-control(type='text', placeholder='بحث...')
                  .input-group-btn
                    button.btn.btn-default
                      i.glyphicon.glyphicon-search
              .pull-left(style="margin-left: 10px;")
                a.btn.btn-success(href='/newSemester', role='button',data-toggle='modal')
                  span.glyphicon.glyphicon-plus
                  span.text-none  إضافة فصل دراسي
              .pull-left(style="margin-left: 10px;")
                a.btn.btn-primary(href='#', role='button',data-toggle='modal')
                  span.glyphicon.glyphicon-print
                  span.text-none  طباعة
          .table-responsive
            table#mytable.table.table-bordred.table-striped.text-right
              thead
                th
                  input#checkall(type="checkbox")
                th النظام الدراسي
                th السنة الدراسية
                th هل هذا الفصل الحالي
                th بداية الفصل الدراسي
                th نهاية الفصل الدراسي
                th.text-center عرض
                th.text-center إلغاء
              tbody
              for i in semester
                tr
                  td
                    input.checkthis(type="checkbox")
                  td  
                    if i.sem_type == 0
                      | سنة
                    if i.sem_type == 1
                      | فصل "ربيعي"
                    if i.sem_type == 2
                      | فصل "خريفي"
                  td  #{i.year.getDate()} / #{i.year.getMonth()+1} / #{i.year.getFullYear()} 
                  td 
                    if i.current == 1
                      | نعم
                    else 
                      | لا 
                  td #{i.starting_date.getDate()} / #{i.starting_date.getMonth()+1} / #{i.starting_date.getFullYear()} 
                  td #{i.ending_date.getDate()} / #{i.ending_date.getMonth()+1} / #{i.ending_date.getFullYear()} 
                  td.text-center
                    p(data-placement="top", data-toggle="tooltip", title="عرض")
                      a.btn.btn-primary.btn-xs(href='/semester/#{i.id}', role='button' , value="#{i.id}")
                        span.glyphicon.glyphicon-eye-open
                  td.text-center
                    p(data-placement="top", data-toggle="tooltip", title="إلغاء")
                      button.btn.btn-danger.btn-xs(data-title="Delete", data-toggle="modal", data-target="#delete",value="#{i.id}")
                        span.glyphicon.glyphicon-trash
          .clearfix
          ul.pagination.pull-right
            li.disabled
              a(href="#")
                span.glyphicon.glyphicon-chevron-right
            li.active
              a(href="#") 1
            li
              a(href="#") 2
            li
              a(href="#") 3
            li
              a(href="#") 4
            li
              a(href="#") 5
            li
              a(href="#")
                span.glyphicon.glyphicon-chevron-left
  #edit.modal.fade.font(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true")
            span.glyphicon.glyphicon-remove(aria-hidden="true")
          h4#Heading.modal-title.custom_align تعديل فصل دراسي
        .modal-body
          .form-group
            input.form-control(type="text", placeholder="Mohsin")
          .form-group
            input.form-control(type="text", placeholder="Irshad")
          .form-group
            textarea.form-control(rows="2", placeholder="CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan")
        .modal-footer
          button.btn.btn-warning.btn-lg(type="button", style="width: 100%;")
            span.glyphicon.glyphicon-ok-sign
            |  تعديل
      // /.modal-content
    // /.modal-dialog
  #delete.modal.fade.font(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true")
            span.glyphicon.glyphicon-remove(aria-hidden="true")
          h4#Heading.modal-title.custom_align الغاء هذا الفصل
        .modal-body
          .alert.alert-danger
            span.glyphicon.glyphicon-warning-sign
            |  هل تريد فعلا الغاء هذا الفصل الدراسي ؟
        .modal-footer
          button.btn.btn-success(type="button")
            span.glyphicon.glyphicon-ok-sign
            |  نعم
          button.btn.btn-default(type="button", data-dismiss="modal")
            span.glyphicon.glyphicon-remove
            |  لا
      // /.modal-content
    // /.modal-dialog
  script(src='/js/jquery-2.1.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/backToTop.js')
  script(src='/js/bootstrap-editable.js')
  script.
    $(document).ready(function(){
      $("#mytable #checkall").click(function () {
        if ($("#mytable #checkall").is(':checked')) {
            $("#mytable input[type=checkbox]").each(function () {
              $(this).prop("checked", true);
            });
        } else {
            $("#mytable input[type=checkbox]").each(function () {
                $(this).prop("checked", false);
            });
          }
      });
        $("[data-toggle=tooltip]").tooltip();
    });