extends layout
block authenticationStyle
block errorStyle
block content
block navcPanel
  .container.font
    .row
      .col-xs-12.col-md-12
        .panel.panel-default
          .panel-heading(style="padding: 5px 15px;")
            .row
              .pull-right(style="margin-right: 10px;")
                h3#h3.panel-title عرض الفصول الدراسية
              .pull-left(style="margin-left: 10px;")
                a.btn.btn-success(href='/semesters', role='button',data-toggle='modal')
                  span.glyphicon.glyphicon-hand-left
                  span  رجوع
          .table-responsive
            table#mytable.table.table-bordred.table-striped.text-right
              thead
                th الفصل الدراسي
                th السنة الدراسية
                th هل هذا الفصل الحالي
                th بداية الفصل الدراسي
                th نهاية الفصل الدراسي
                th.text-center تعديل
              tbody
                tr
                  td 
                    if semester.sem_type == 1
                      | ربيعي
                    else if semester.sem_type == 2
                      | خريفي
                    else
                      | صيفي
                  td #{semester.year.getDate()} / #{semester.year.getMonth()+1} / #{semester.year.getFullYear()} 
                  td
                    if semester.current == 1
                      | نعم
                    else 
                      | لا
                  td #{semester.starting_date.getDate()} / #{semester.starting_date.getMonth()+1} / #{semester.starting_date.getFullYear()}
                  td #{semester.ending_date.getDate()} / #{semester.ending_date.getMonth()+1} / #{semester.ending_date.getFullYear()} 
                  td.text-center
                    p(data-placement="top", data-toggle="tooltip", title="تعديل")
                      button.btn.btn-primary.btn-xs(data-title="Edit", data-toggle="modal", data-target="#edit")
                        span.glyphicon.glyphicon-pencil
        .panel.panel-default
          .panel-heading(style="padding: 5px 15px;")
            .row
              .pull-right(style="margin-right: 10px;")
                h3#h3.panel-title اﻷقسام
          .table-responsive
            table#mytable.table.table-bordred.table-striped.text-right
              thead
                th اسم القسم
                th.text-left Department Name
                th(style="width:25%;")
                th.text-center تخصيص المادة
              tbody
                for department in departments
                  tr
                    td #{department.name}
                    td.text-left #{department.name_en}
                    td
                    td.text-center
                      p(data-placement="top", data-toggle="tooltip", title="تعديل")
                        a.btn.btn-primary.btn-xs(href='/semester/#{semester.id}/#{department.id}', role='button' , value="#{department.id}")
                          span.glyphicon.glyphicon-screenshot
  #edit.modal.fade.font(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true")
            span.glyphicon.glyphicon-remove(aria-hidden="true")
          h4#Heading.modal-title.custom_align تعديل فصل دراسي
        .modal-body
          .form-group
            input.form-control(type="text", placeholder="Mohsin")
          .form-group
            input.form-control(type="text", placeholder="Irshad")
          .form-group
            textarea.form-control(rows="2", placeholder="CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan")
        .modal-footer
          button.btn.btn-warning.btn-lg(type="button", style="width: 100%;")
            span.glyphicon.glyphicon-ok-sign
            |  تعديل
      // /.modal-content
    // /.modal-dialog
  script(src='/js/jquery-2.1.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/backToTop.js')
  script(src='/js/bootstrap-editable.js')
  script.
    $(document).ready(function(){
      $("#mytable #checkall").click(function () {
        if ($("#mytable #checkall").is(':checked')) {
            $("#mytable input[type=checkbox]").each(function () {
              $(this).prop("checked", true);
            });
        } else {
            $("#mytable input[type=checkbox]").each(function () {
                $(this).prop("checked", false);
            });
          }
      });
        $("[data-toggle=tooltip]").tooltip();
    });