extends layout
block authenticationStyle
block errorStyle
block content
block cPanel
  .container
    .row
      .col-md-10
        .btn-group.btn-breadcrumb
          a.btn.btn-default(href="/cPanel")
            i.glyphicon.glyphicon-home
          a.btn.btn-default(href="/transcript/Academictranscripts") تنزيل المواد للطلبة
          .btn.btn-default.active عرض فصول الطلبة
        br
        br
        #Semesters_teble  
          .panel.panel-default
            .panel-heading
              .row
                .pull-right(style="margin-right: 10px;")
                  h3#h3.panel-title عرض فصول الطلبة
                .col-xs-6.col-md-6
                  .input-group
                    input.form-control(type='text', placeholder='بحث...')
                    .input-group-btn
                      button.btn.btn-default
                        i.glyphicon.glyphicon-search
                .pull-left(style="margin-left: 15px;")
                  a.btn.btn-success(href='/transcript/Academictranscripts/', role='button',data-toggle='modal')
                    i.fa.fa-arrow-left
                    span  رجوع          
                .pull-left(style="margin-left: 2px;")
                  a.btn.btn-primary(href='#', role='button',data-toggle='modal', data-target="#Add_Semester")
                    span.glyphicon.glyphicon
                    span.text-none  أضافة فصل          
            .table-responsive
              table.table.table-bordred.table-striped.text-right
                thead
                  
                  th.text-center النظام الدراسي
                  th.text-center السنة الدراسية
                  th.text-center بداية الفصل 
                  th.text-center نهاية الفصل
                  th.text-center الشعــبة
                  th.text-center المعدل الفصلي
                  th.text-center المعدل التراكمي
                  th.text-center تنزيل 
                tbody
                for i in semStudent
                  tr(data-id = '')
                    td.text-center
                      if i.Semester.system_type == 1
                        |  فصل
                      if i.Semester.system_type == 2
                        |  سنة

                     
                    td.text-center #{i.Semester.year.getFullYear()}
                    td.text-center #{i.Semester.starting_date.getDate()} / #{i.Semester.starting_date.getMonth()+1} / #{i.Semester.starting_date.getFullYear()} 
                    td.text-center #{i.Semester.ending_date.getDate()} / #{i.Semester.ending_date.getMonth()+1} / #{i.Semester.ending_date.getFullYear()} 
                    td.text-center #{i.Division.name}
                    td.text-center
                    td.text-center
                    td.text-center
                      p(data-placement="top", data-toggle="tooltip", title="تنزيل المواد")  
                        a.btn.btn-primary.btn-xs(href='/transcript/addStudentSubject/#{i.id}',value="#{i.id}",data-title="Delete", data-toggle="modal")
                          span.glyphicon.glyphicon-pencil        
  #Add_Semester.modal.fade.font(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    form.form#addSemester(role="form")
      .panel.panel-default
        .panel-heading
          .row
            .pull-right(style="margin-right: 10px;")
              h3#h3.panel-title عرض الفصول الدراسية
            .col-xs-4.col-md-4
              .input-group
                input.form-control(type='text', placeholder='بحث...')
                .input-group-btn
                  button.btn.btn-default
                    i.glyphicon.glyphicon-search
            .col-xs-2.col-md-2
              select.form-control.selectpicker#student_status(name="student_status", data-live-search="true", data-size=5)
                option(value="1", selected) نظامي  
                option(value="2") غير نظامي
                option(value="3") إيقاف قيد
            .col-xs-2.col-md-2
              select.form-control.selectpicker#division_iddivision(name="DivisionId", data-live-search="true", data-size=5)
                option(value="", style='color:grey; display:none;') اختر اسم الشعبة...
                for i in dev
                  option(value="#{i.id}") #{i.name}
              input#studentId.form-control(value="#{std}",type="hidden")
            .col-xs-2.col-md-2
              select.form-control.selectpicker#department_iddepartment(name="DepartmentId", data-live-search="true", data-size=5)
                option(value="", style='color:grey; display:none;') اختر اسم القسم...
                for i in dept
                  option(value="#{i.id} ") #{i.name}                   
        .table-responsive
          table#mytable.table.table-bordred.table-striped.text-right
            thead
              th النظام الدراسي
              th السنة الدراسية
              th بداية الفصل الدراسي
              th نهاية الفصل الدراسي
              th.text-center أضافة
            tbody
            for i in sem
              tr(data-id = '#')
                td 
                  if i.system_type == 1
                    |فصل
                  if i.system_type == 2
                    |سنة
                td #{i.year.getFullYear()}
                td  #{i.starting_date.getDate()} / #{i.starting_date.getMonth()+1} / #{i.starting_date.getFullYear()} 
                td #{i.ending_date.getDate()} / #{i.ending_date.getMonth()+1} / #{i.ending_date.getFullYear()} 
                td.text-center
                  p(data-placement="top", data-toggle="tooltip", title="عرض")
                    button#addStudentData.btn.btn-primary.btn-xs(href='', role='button' ,value="#{i.id}")
                      span.glyphicon.glyphicon-pencil
  #Show_Semester.modal.fade.font(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog
        .modal-content
          .modal-header
            button.close(type="button", data-dismiss="modal", aria-hidden="true")
              span.glyphicon.glyphicon-remove(aria-hidden="true")
            h4#Heading.modal-title.custom_align تعديل فصل دراسي
          .modal-body
            .table-responsive
                table#mytable.table.table-bordred.table-striped.text-right
                  thead
                    th.text-center اسم المادة
                    th.text-center Subject Name
                    th.text-center رمز المادة
                    th.text-center.text-center.text-center.text-center درجة المادة
                  tbody
                    tr(data-id = '')                      
                      td.text-center رياضة 1
                      td.text-center math
                      td.text-center ma100
                      td.text-center 60
          .modal-footer
            button.btn.btn-primary.btn-lg(type="button", style="width: 100%;")
              span.glyphicon.glyphicon-ok-sign    
    // /.modal-dialog
  script(src='/js/jquery-2.1.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/backToTop.js')
  script(src='/js/bootstrap-select.min.js')
  script(src='/js/moment-with-locales.min.js')
  script(src='/js/bootstrap-datetimepicker.min.js')
  script(src='/js/jquery.validate.min.js')
  script(src='/js/bootstrap-notify.min.js')
  script(src='/js/studentData.js')
  script.
    $(document).ready(function(){
      $("[data-toggle=tooltip]").tooltip();
    });
