extends layout
block authenticationStyle
block errorStyle
block content
  .container
    .row
      .col-md-10
        .btn-group.btn-breadcrumb
          a.btn.btn-default(href="/cPanel")
            i.glyphicon.glyphicon-home
          .btn.btn-default.active عرض المواد الدراسية
        br
        br
        .panel.panel-default
          .panel-heading
            .row
              .pull-right(style="margin-right: 10px;")
                h3#h3.panel-title عرض المواد الدراسية
              .col-xs-6.col-md-6
                .input-group
                  input.form-control(type='text', placeholder='بحث...')
                  .input-group-btn
                    button.btn.btn-default
                      i.glyphicon.glyphicon-search
              .pull-left(style="margin-left: 10px;")
                a.btn.btn-success(href='#add', role='button',data-toggle='modal')
                  span.glyphicon.glyphicon-plus
                  span.text-none  إضافة مادة دراسية
          .table-responsive
            table#mytable.table.table-bordred.table-striped
              thead
                th أسم المادة
                th.text-left(style="padding-left:60px;") Subject name
                th.text-center رمز المادة
                th.text-center عدد الوحدات النظري
                th.text-center عرض المزيد
                th.text-center تعديل
                th.text-center إلغاء
              tbody
          
              for i,u in Sub
                tr(data-id = '#{i.id}')
                  td #{i.name}
                  td.text-left(style="padding-left:60px;") #{i.name_en}
                  td.text-center #{i.code}
                  td.text-center #{i.no_th_unit} وحدات
                  td.text-center
                    p(data-placement="top", data-toggle="tooltip", title="عرض المزيد")
                      button#sh.btn.btn-primary.btn-xs(value="#{i.id}",data-title="Edit", data-toggle="modal", data-target="#show")
                        span.glyphicon.glyphicon-eye-open
                  td.text-center
                    p(data-placement="top", data-toggle="tooltip", title="تعديل")
                      a#ed.btn.btn-primary.btn-xs(type="button",value="#{i.id}",data-title="Edit", href="/subject/editSubject/#{i.id}")
                        span.glyphicon.glyphicon-pencil
                  td.text-center
                    p(data-placement="top", data-toggle="tooltip", title="إلغاء")
                      button#del.btn.btn-danger.btn-xs(value="#{i.id}",data-title="Delete", data-toggle="modal", data-target="#delete")
                        span.glyphicon.glyphicon-trash
        if pagination
          .text-center
            ul.pagination
              li(class='#{pagination.previous.disabled}')
                a(href='?p=#{pagination.previous.n.}') السابق
              for page in pagination.pages
                li(class="#{page.active}")
                  a(href='?p=#{page.n}') #{page.n}
              li(class="#{pagination.next.disabled}")
                a(href='?p=#{pagination.next.n}') التالي
  //- #show.modal.fade.font(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true")
            span.glyphicon.glyphicon-remove(aria-hidden="true")
          h4#Heading1.modal-title.custom_align عرض المزيد عن بيانات المادة 
        .modal-body
          form.form(action="", method="post", accept-charset="utf-8", role="form")
            .form-group
              .row
                .col-xs-4.col-md-4
                  label
                    span اسم المادة
                  input#subject_name.form-control(type="text", name="subject_name", placeholder="عدد الوحدات العملي", disabled)
                .col-xs-4.col-md-4
                  label.pull-left
                    span  Subject name
                  input#subject_name_en.form-control(type="text", name="subject_name_en", placeholder="عدد ساعات العملي", disabled, dir="ltr")
                .col-xs-4.col-md-4
                  label
                    span  رمز المادة
                  input#subject_code.form-control(type="text", name="subject_code", placeholder="عدد ساعات العملي", disabled)
            .form-group
              .row
                .col-xs-4.col-md-4
                  label
                    span  عدد الوحدات النظري
                  input#subject_no_th_unit.form-control(type="text", name="subject_no_th_unit", placeholder="عدد ساعات العملي", disabled)
                .col-xs-4.col-md-4
                  label               
                    span  تندرج تحت قسم
                  input#subject_type.form-control(type="text", name="subject_type", placeholder="subject_type", disabled)
                .col-xs-4.col-md-4
                  label
                    span  درجات امتحانات النصفيات
                  input#chapter_degree.form-control(type="text", name="chapter_degree", placeholder="درجات امتحانات النصفيات", disabled)
            .form-group
              .row
                .col-xs-4.col-md-4
                  label
                    span  الدرجة النهائية
                  input#final_theor.form-control(type="text", name="final_theor", placeholder="الدرجة النهائية", disabled)
                .col-xs-4.col-md-4
                  label
                    span  درجة العملي
                  input#final_practical.form-control(type="text", name="final_practical", placeholder="درجة العملي", disabled)
                .col-xs-4.col-md-4
                  label
                    span   نظام الدراسة 
                  input#System_Type.form-control(type="text", name="System_Type", placeholder="System Type", disabled)
            .form-group
              .row
                .col-xs-4.col-xs-offset-2.col-md-4.col-md-offset-2
                  label
                    span  اسم القسم
                  input#department.form-control(type="text", name="department", placeholder="اسم القسم", disabled)
                .col-xs-4.col-md-4
                  label
                    span  إســم المستخدم
                  input#user.form-control(type="text", name="user", placeholder="إســم المستخدم", disabled)
        .modal-footer
          button.btn.btn-warning.btn-lg(type="button", style="width:100%;", data-dismiss="modal")
            span.glyphicon.glyphicon-eye-close
            |  إخفاء
      // /.modal-content
    // /.modal-dialog
  #add.modal.fade.font(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog.modal-lg
      .modal-content
        form#newSubject(action="", method="post", accept-charset="utf-8", role="form")
          | الرجاء اختيار نظام المادة ؟     
          input#toggle-subject(type='checkbox',data-on="سنة",data-off="فصل", data-toggle='toggle')
          h4.text-center بيانات المادة 
          hr
          .form-group
            .row
              .col-xs-3.col-md-3
                label اسم المادة
                input#name.form-control(type="text", name="name", placeholder="اسم المادة")
              .col-xs-3.col-md-3.text-left
                label.pull-left Subject name
                input#name_en.form-control(type="text", name="name_en", placeholder="Subject name", dir="ltr")
              .col-xs-3.col-md-3
                label رمز المادة
                input#code.form-control(type="text", name="code", placeholder="رمز المادة")                 
              .col-xs-3.col-md-3
                label عدد وحدات النظري
                input#no_th_unit.form-control(type="text", name="no_th_unit", placeholder="عدد وحدات النظري")
                      
          .form-group
            .row
              .col-xs-3.col-md-3
                label أعمال السنة
                input#chapter_degree.form-control(type="text", name="chapter_degree", placeholder="أعال السنة")
              .col-xs-3.col-md-3
                label درجة نهائي النظري
                input#final_theor.form-control(type="text", name="final_theor", placeholder="نهائي النظري")
                input#system_type.form-control(type="hidden", name="system_type", value="1")
              .col-xs-6.col-md-6
                #department_radio 
                  label نوع المادة
                  br
                  label.radio-inline
                    input#radio.radio_js(type='radio', name='subject_type',value="1")
                    | عامة
                  label.radio-inline
                    input#radio.radioo(type='radio', name='subject_type',value="2")
                    | خاصة
                  label.radio-inline
                    input#radio.radiooo(type='radio', name='subject_type',value="3")
                    | كلاهما
                  label.radio-inline
                    input#radio.radioM(type='radio', name='subject_type',value="4")
                    | متعددة الاقسام
          hr
          .col-xs-2.col-xs-offset-4.col-md-2.col-md-offset-5
            button#save.btn.btn-primary(type="button")
              | إضافة
  #delete.modal.fade.font(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true")
            span.glyphicon.glyphicon-remove(aria-hidden="true")
          h4#Heading.modal-title.custom_align إلغاء مادة دراسية محددة
        .modal-body
          .alert.alert-danger
            span.glyphicon.glyphicon-warning-sign
            |  هل انت متأكد من إلغاء هذه المادة ؟
        .modal-footer
          button#ok.btn.btn-success(type="button", data-dismiss="modal")
            span.glyphicon.glyphicon-ok-sign
            |  نعم
          button.btn.btn-default(type="button", data-dismiss="modal")
            span.glyphicon.glyphicon-remove
            |  لا
  
      // /.modal-content
    // /.modal-dialog
  script(src='/js/jquery-2.1.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/bootstrap-toggle.min.js') 
  script(src='/js/jquery.validate.min.js')
  script(src='/js/bootstrap-select.min.js') 
  script(src='/js/jquery.validate.min.js')
  script(src='/js/bootstrap-notify.min.js')
  script(src='/js/backToTop.js')
  script(src='/js/helpers.js')
  script(src='/js/subject.js') 
  script.
    $(document).ready(function(){
      $("[data-toggle=tooltip]").tooltip();
    });