extends layout
block authenticationStyle
block errorStyle
block content
block cPanel
  .container
    .row
      .col-md-10
        .btn-group.btn-breadcrumb
          a.btn.btn-default(href="/cPanel")
            i.glyphicon.glyphicon-home
          .btn.btn-default المواد الدراسية
          .btn.btn-default.active عرض المواد الدراسية
        br
        br
        .panel.panel-default
          .panel-heading
            .row
              .pull-right(style="margin-right: 10px;")
                h3#h3.panel-title عرض المواد الدراسية
              .col-xs-6.col-md-6
                .input-group
                  input.form-control(type='text', placeholder='بحث...')
                  .input-group-btn
                    button.btn.btn-default
                      i.glyphicon.glyphicon-search
              .pull-left(style="margin-left: 10px;")
                a.btn.btn-success(href='/newSubject', role='button',data-toggle='modal')
                  span.glyphicon.glyphicon-plus
                  span.text-none  إضافة مادة دراسية
              .pull-left(style="margin-left: 10px;")
                a.btn.btn-primary(href='#', role='button',data-toggle='modal')
                  span.glyphicon.glyphicon-print
                  span.text-none  طباعة
          .table-responsive
            table#mytable.table.table-bordred.table-striped.text-right
              thead
                th
                  input#checkall(type="checkbox")
                th أسم المادة
                th Subject name
                th رمز المادة
                th عدد الوحدات النظري
                th عدد الساعات العملي
                th.text-center عرض
                th.text-center تعديل
                th.text-center إلغاء
              tbody
              for i in Sub
                tr(data-id = '#{i.id}')
                  td
                    input.checkthis(type="checkbox")
                  td #{i.name}
                  td #{i.name_en}
                  td #{i.code}
                  td #{i.no_th_unit}
                  td #{i.no_th_hour}
                  td.text-center
                    p(data-placement="top", data-toggle="tooltip", title="عرض")
                      button.btn.btn-primary.btn-xs(value="#{i.id}",data-title="Edit", data-toggle="modal", data-target="#show")
                        span.glyphicon.glyphicon-eye-open
                  td.text-center
                    p(data-placement="top", data-toggle="tooltip", title="تعديل")
                      button.btn.btn-primary.btn-xs(value="#{i.id}",data-title="Edit", data-toggle="modal", data-target="#edit")
                        span.glyphicon.glyphicon-pencil
                  td.text-center
                    p(data-placement="top", data-toggle="tooltip", title="إلغاء")
                      button#del.btn.btn-danger.btn-xs(value="#{i.id}",data-title="Delete", data-toggle="modal", data-target="#delete")
                        span.glyphicon.glyphicon-trash
          ul.pagination.pull-right
            li.disabled
              a(href="#")
                span.glyphicon.glyphicon-chevron-right
            li.active
              a(href="#") 1
            li
              a(href="#") 2
            li
              a(href="#") 3
            li
              a(href="#") 4
            li
              a(href="#") 5
            li
              a(href="#")
                span.glyphicon.glyphicon-chevron-left
  #show.modal.fade.font(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true")
            span.glyphicon.glyphicon-remove(aria-hidden="true")
          h4#Heading.modal-title.custom_align عرض بيانات المادة
        .modal-body
          form.form(action="", method="post", accept-charset="utf-8", role="form")
            .form-group
              .row
                .col-xs-3.col-md-3
                  label
                    span  اسم الطالب/ة
                  input#first_name.form-control(type="text", name="first_name", placeholder="اسم الطالب/ة", disabled)
                .col-xs-3.col-md-3
                  label
                    span  اسم اﻷب
                  input#father_name.form-control(type="text", name="father_name", placeholder="اسم اﻷب", disabled)
                .col-xs-3.col-md-3
                  label
                    span  اسم الجد
                  input#grand_name.form-control(type="text", name="grand_name", placeholder="اسم الجد", disabled)
                .col-xs-3.col-md-3
                  label
                    span  اللقب
                  input#last_name.form-control(type="text", name="last_name", placeholder="اللقب", disabled)
            .form-group
              .row
                .col-xs-3.col-md-3
                  label
                    span  اسم الطالب/ة
                  input#first_name.form-control(type="text", name="first_name", placeholder="اسم الطالب/ة", disabled)
                .col-xs-3.col-md-3
                  label
                    span  اسم اﻷب
                  input#father_name.form-control(type="text", name="father_name", placeholder="اسم اﻷب", disabled)
                .col-xs-3.col-md-3
                  label
                    span  اسم الجد
                  input#grand_name.form-control(type="text", name="grand_name", placeholder="اسم الجد", disabled)
                .col-xs-3.col-md-3
                  label
                    span  اللقب
                  input#last_name.form-control(type="text", name="last_name", placeholder="اللقب", disabled)
            .form-group
              .row
                .col-xs-3.col-md-3
                  label
                    span  اسم الطالب/ة
                  input#first_name.form-control(type="text", name="first_name", placeholder="اسم الطالب/ة", disabled)
                .col-xs-3.col-md-3
                  label
                    span  اسم اﻷب
                  input#father_name.form-control(type="text", name="father_name", placeholder="اسم اﻷب", disabled)
                .col-xs-3.col-md-3
                  label
                    span  اسم الجد
                  input#grand_name.form-control(type="text", name="grand_name", placeholder="اسم الجد", disabled)
                .col-xs-3.col-md-3
                  label
                    span  اللقب
                  input#last_name.form-control(type="text", name="last_name", placeholder="اللقب", disabled)

        .modal-footer
          button.btn.btn-warning.btn-lg(type="button", style="margin-left:25%;width:50%;", data-dismiss="modal")
            span.glyphicon.glyphicon-eye-close
            |  إخفاء
      // /.modal-content
    // /.modal-dialog
  #edit.modal.fade.font(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true")
            span.glyphicon.glyphicon-remove(aria-hidden="true")
          h4#Heading.modal-title.custom_align تعديل محاضر/ة
        .modal-body
          .col-md-6.col-md-offset-2
          form.form(action="", method="post", accept-charset="utf-8", role="form")
            .row
              .input-group(style="margin: 10px;")
                label.h4.input-group-addon اسم المادة
                input.form-control#name(name="name", type="text", placeholder="اسم المادة")
                span.input-group-addon(style="border-left: 0; border-right: 0;") المؤهل العلمي
                input.form-control#qualification(name="qualification", type="text", placeholder="المؤهل العلمي")
            .row
              .input-group(style="margin: 10px;")
                label.h4.input-group-addon تاريخ الميلاد
                input.form-control#birth_date(name="birth_date", type="text", placeholder="تاريخ الميلاد")
                span.input-group-addon(style="border-left: 0; border-right: 0;") التخصص
                input.form-control#specialization(name="specialization", type="text", placeholder="التخصص")
            .row
              .input-group(style="margin: 10px;")
                label.h4.input-group-addon الجنس
                select.form-control.selectpicker#gender(name="gender",title="الرجاء اختيار الجنس...",style="padding-top: 0px;")
                  option(value="0") ذكر
                  option(value="1") انثي
                span.input-group-addon(style="border-left: 0; border-right: 0;") عنولن الاقامة
                input.form-control#physical_address(name="physical_address", type="text", placeholder="عنولن الاقامة")
            .row
              .input-group(style="margin: 10px;")
                label.h4.input-group-addon رقم الهاتف
                input.form-control#phone(name="phone", type="text", placeholder="رقم الهاتف")
                span.input-group-addon(style="border-left: 0; border-right: 0;") مكان الميلاد
                input.form-control#place_birth(name="place_birth", type="text", placeholder="مكان الميلاد")
            .row  
              .input-group(style="margin: 10px;")
                label.h4.input-group-addon القسم
                select.form-control.selectpicker#department_iddepartment(name="department_iddepartment",title="الرجاء اختيار القسم...",style="padding-top: 0px;",data-live-search="true")
                  option(value="0") قسم1
                  option(value="1") قسم2
                span.input-group-addon(style="border-left: 0; border-right: 0;") الجنسية
                select.form-control.selectpicker#nationality(name="nationality",title="الرجاء اختيار الجنسية...",style="padding-top: 0px;",data-live-search="true")
                  option(value="0") جنسية1
                  option(value="1") جنسية2
        .modal-footer
          button.btn.btn-warning.btn-lg(type="button", style="width: 100%;")
            span.glyphicon.glyphicon-ok-sign
            |  تعديل
      // /.modal-content
    // /.modal-dialog
  #delete.modal.fade.font(tabindex="-1", role="dialog", aria-labelledby="edit", aria-hidden="true")
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type="button", data-dismiss="modal", aria-hidden="true")
            span.glyphicon.glyphicon-remove(aria-hidden="true")
          h4#Heading.modal-title.custom_align إلغاء مادة دراسية محددة
        .modal-body
          .alert.alert-danger
            span.glyphicon.glyphicon-warning-sign
            |  هل انت متأكد من إلغاء هذه المادة ؟
        .modal-footer
          button#ok.btn.btn-success(type="button", data-dismiss="modal")
            span.glyphicon.glyphicon-ok-sign
            |  نعم
          button.btn.btn-default(type="button", data-dismiss="modal")
            span.glyphicon.glyphicon-remove
            |  لا
      // /.modal-content
    // /.modal-dialog
  script(src='/js/jquery-2.1.1.min.js')
  script(src='/js/bootstrap.min.js')
  script(src='/js/backToTop.js')
  script(src='/js/bootstrap-select.min.js') 
  script(src='/js/newSubject.js') 
  script.
    $(document).ready(function(){
      $("#mytable #checkall").click(function () {
        if ($("#mytable #checkall").is(':checked')) {
            $("#mytable input[type=checkbox]").each(function () {
              $(this).prop("checked", true);
            });
        } else {
            $("#mytable input[type=checkbox]").each(function () {
                $(this).prop("checked", false);
            });
          }
      });
        $("[data-toggle=tooltip]").tooltip();
    });